<ion-header  no-shadow no-border>
  <ion-navbar  hideBackButton="true" color='navbarColor' >
     <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Menu                   <!-- Hay que hacerlo variable -->
    </ion-title>
     <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

<super-tabs   *ngIf="tabbolean"  scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="blue" >
  <super-tab  *ngFor="let itemenu of categoriafilter;let i=index" [root]="tabmenu" [rootParams]="categoryfilter(itemenu.categoria)"  title="{{itemenu.categoria}}"></super-tab>
</super-tabs>

  
  
</ion-content>
