.md,.ios{

page-restaurante {

  .content{
    

      background-image: url('/assets/img/prueba2.png');



   }
.card-rest{

#cardtitle{
  float:left;
  font-size: 12px;
}
#infobutton{
  padding-left: 1px;
  height: 10%;
  width: 10%; 
  
  float:left;
}

}
  

   

}
}