page-restaurante {


    .card-rest {


  .button{

    padding: 15px 32px;
     border: none;
    background-color: yellow; 
  }
  .ion-card {
    width: 50%;
   height: 50%;
    position: absolute;
  
  }
  
.ion-label{

    color: green;
    text-align: center;
  }
   
 

}

}
