.md,.ios{

page-menu {

.andrea{



#butonmenos{
width: 10%;
height: 60px;
float:left;

}

#avatar{
   float:left;
    padding-left: 5px;
    padding-top: 15px;

}

#div{
  padding-top: 10px;
padding-left:5px;
float:left;
padding-bottom: 15px;

}
#h2{
  padding-top:5px;

}
#butonview{
  float:left;
}

#cantidad{
  padding-top: 15px;
  padding-left:10px;
float:left;
width: 5%;
height: 60px;
}
#butonmas{
float:left;
width: 10%;
height: 60px;
margin-right:5px;
margin-left:15px;
}
#submenutitulo{
  padding-top: 5px;
    padding-left: 5px;
  border-bottom: ridge;

}
#extender{
  clear:left;
  padding-top: 0px;
border-top: solid;
border-top-color: #222
}


ion-item{


}

}



}




}