.md,.ios{

page-menu {

.andrea{

#p{

  padding-bottom: 0px;
  padding-left: 14px;

}

#text{
  white-space: normal;
 padding-top: 0px;
  width: 110px;

  word-wrap: break-word;
}

#ionlabel{

  font-size: 10px;
}
 
#butonmenos{
width: 10%;
height: 120px;
float:left;

}

#avatar{
   float:left;
    padding-left: 1px;
    padding-top: 15px;

}

#div{
  padding-right:17px;
  padding-top: 10px;
padding-left:5px;
float:left;
padding-bottom: 15px;

}
#h2{
  padding-top:5px;

}
#butonview{
  float:right;
}

#cantidad{
  padding-top: 15px;
  padding-left:10px;
float:left;
width: 5%;
height: 60px;
}
#butonmas{
float:left;
width: 10%;
height: 120px;
margin-right:1px;
margin-left:15px;
}
#submenutitulo{
  padding-top: 5px;
    padding-left: 5px;
  border-bottom: ridge;

}
#extender{
  clear:left;
  padding-top: 0px;
border-top: solid;
border-top-color: #222
}
.textonombre{
  text-align: right
}

ion-item{


}

}



}




}