.md,.ios{

page-menu {

.imagen{
  //height:50px;
  width:40px;
  float:left;
}
.botonesdiv{

  float:right;
}
.andrea{
//height: 200px;
#p{
  float: left;
  padding-bottom: 0px;
  padding-left: 14px;

}

#text{
  white-space: normal;
 padding-top: 0px;
  width: 150px;
//  text-align: justify;
//  word-wrap: break-word;
}

#ionlabel{

  font-size: 10px;
}
 
#butonmenos{
width: 5%;
height: 60px;

//float:left;

}


#avatar{
   float:left;
    padding-left: 1px;
    padding-top: 15px;

}

#div{
   //height:50px; 
  padding-right:5px;
  padding-top: 5px;
padding-left:5px;
float:left;
padding-bottom: 5px;

}
#h2{
  padding-top:5px;

}
#butonview{
  float:right;
}

#cantidad{
 // padding-top: 15px;
  padding-left:10px;
  padding-right: 20px;
float:right;
width: 5%;
height: 60px;
}
#butonmas{
//float:right;
width: 5%;
height: 60px;
margin-right:1px;
margin-left:1px;
}
#submenutitulo{
  padding-top: 5px;
    padding-left: 5px;
  border-bottom: ridge;

}
#extender{
  clear:left;
  padding-top: 0px;
border-top: solid;
border-top-color: #222
}
.textonombre{
  text-align: right
}

ion-item{


}

}



}




}